<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmpowHer</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <ul class="nav-left">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/howto">How to play</a></li>
                </ul>
                <div class="nav-right">
                    <a href="/scenario" id="play-button">
                        <img src="/static/images/VPlx9v01.svg" alt="Play Button" id="PlayButton">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1>BiasBreakers</h1>
        <section id="about">
            <h2 id="h2Header">Our Mission</h2>
            <p>
                Our platform immerses users in challenging workplace scenarios, with a particular focus on addressing internalized sexism and sexual harassment. Through interactive decision-making and playful yet practical feedback, we empower users to actively challenge gender bias, become better allies, and foster a workplace culture that’s fair, supportive, and inclusive for everyone. Our goal is to equip users with the skills to handle tough situations and create lasting change—all while keeping things engaging and real.
            </p>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>
